on:
  push:
    tags:
      - v*
    branches:
      - v*
      - main
  pull_request:

name: run tests
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52

  test:
    strategy:
      matrix:
        go-version: [ '1.20' ]
        platform: [ 'ubuntu-latest' ]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Go
        if: success()
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
          stable: ${{ !contains(matrix.go-version, 'beta') }}
      - name: Run tests
        run: go test -v ./...

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Go
        if: success()
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Calc coverage
        run: |
          go test -v -covermode=atomic -coverprofile=coverage.txt ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
